@import './normalize.css';
/* :root 获取html根元素 */
:root{
    --color-text:#666;
    --high-text:#ff5777;
    --color-tint:#ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-background);
    height: 100vh;
    color: var(--color-text);
}